* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

body {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    background-color: #5d8562;
}

.title {
    margin-top: 20px;
}

.title p {
    color: #333;
}

.page {
    background-color: #ccc;
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.main-info {
    text-align: center;
    margin-top: 50px;
}

.games {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin-left: 124px;
}

.listOfGames {
    background-color: #ddd;
    margin: 10px auto;
    padding: 10px;
}

.listOfGames li {
    list-style: none;
}

.some-info {
    margin-top: 10px;
}

footer {
    color: #444;
}

